.App
{
    text-align: center;
    display: flex;
    min-height: 100vh;
    background-image: url("edited.jpg");
    width: auto;
    background-repeat: no-repeat;
    align-items: center;
    font-weight: 600;
    justify-content: center;
}
.auth-form-container, .login-form, .register-form{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 600px){
    .auth-form-container{
        position: relative;
        width: 250px;
        height: 280px;
        /* background-image: linear-gradient(69.61deg, #F9F6F0 1.06%, #AEC3CE 99.29%); */
        /* background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px); */
        padding: 2.5rem;
        border-radius: 10px;
        margin: 0.5rem;
        
        background: rgba(200, 200, 200, 0.49);
        position: relative;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }
}
label{
    font-weight: 600;
    text-align: left;
    padding: 0.25rem 0;
}
input{
    margin: 0.25rem 0;
    padding: 0.5rem;
    border: none;
    background-color: white;
    border-radius: 7px;
}
button{
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.link-btn{
    background: none;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}